<!-- body of the email -->
<!DOCTYPE html>
<html>
 <head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
<h1>Hello</h1>
<p>
<%=Price.first.price%>
</p>
<p><%=GasPrice.first.gas_price%></p>
<p>
  This is a test email to showcase demo of Active Job in Rails.
</p>
 </body>
</html>