<!-- body of the email -->
<!DOCTYPE html>
<html>
 <head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
<h1>Thank you for using our gas price traking </h1>
<p>
<%= @user_price %>
</p>

<p>
 The gas price is now at or below your targeted price.
</p>
 </body>
</html>