<!-- body of the email -->
<!DOCTYPE html>
<html>
 <head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
<h1>Thank you for using our gas price tracking web - app</h1>

<p>The Ethereum Gas price is now <%= @gas_price%> which is at or below your targeted price of <%= @user_price %>.
</p>
<p>
Thank you once again for using our service, feel free to track a new price with us at any time.
</p>


 </body>
</html>